/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Contêiner principal */
.container {
    max-width: 800px;
    margin: 40px auto; /* Ajuste de margem para espaçamento nas bordas */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main {

    max-width: 800px;
    top: 60%;
    margin: 0 auto;
    padding: 10px;
    display: block;
    position: relative;
    transform: translate(0, -70%);
    display: block;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    background-color:rgba(0, 0, 0, 0.5);

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

footer, main {
    text-align: center;
}

/* Títulos principais */
h1, h2, h3 {
    color: #007BFF;
    margin-top: 20px;
}

/* Parágrafos */
p {
    margin: 10px 0;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Listas */
ul {
    margin: 10px 0;
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
}

/* Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        margin: 20px 10px; /* Ajuste de margem para responsividade */
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }
}
