<!DOCTYPE html>
<html>
	<head>
		<title> {{ page.title }} </title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	
		<div class="photo-credits">
			<small>Photo by <a href="https://unsplash.com/@grohsfabian">Fabian Grohs</a></small>
		</div>

		<main>
	
			{{ content }}

		</main>

		<footer>

			<ul type="none">
				<li><a href="mailto:wottrich78@gmail.com">Email</a></li>
				-
				<li><a href="https://github.com/wottrich">Github</a></li>	
			</ul>

		</footer>

	</body>
</html>
